[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/koala/Desktop/Project_Knowledge]
row=0
col=2

[/home/koala/Desktop/Johanson-Theodor-CV.pdf]
row=0
col=3

[/home/koala/Desktop/wireshark.desktop]
row=3
col=0

[/home/koala/Desktop/qbittorrent.desktop]
row=2
col=1

[/home/koala/Desktop/com.blackmagicdesign.resolve.desktop]
row=1
col=1

[/home/koala/Desktop/pt7.desktop]
row=0
col=1

[/home/koala/Desktop/arduino-arduinoide.desktop]
row=2
col=0

[Trash]
row=0
col=0

[/home/koala]
row=1
col=0

